*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:darkblue;
}
.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgba(255, 255, 255, 0.904);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
   
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    line-height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 40px 0px;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
img{
    max-width: 50px;
}
.select-container select{
    font-size: 1rem;
    padding: 6px 0 6px 0;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin: 0rem 0rem 2rem 0;
    font-size: 18px;
}
form button{
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    background-color: darkblue;
    color: white;
    cursor: pointer;   
}
.swap {
    background-color: white;
    color: darkblue;
    width: max-content;
    border-radius: 50%; 
    padding: 1rem 1rem 2rem 1rem; 
    margin-top: 10px;
    border: 1px solid lightgray;
}
.swap:hover{
    background-color: darkblue;
    color: white;
}

/* For smaller screens */
@media screen and (max-width: 600px) {
    .container {
        padding: 1rem;
        width: 80%;
    }
    .amount{
        width: auto;
    }
    .amount input {
        font-size: 0.9rem;
        line-height: 2rem;
    }
    .dropdown {
        margin: 30px 0px 20px 0px;
    }
    .msg {
        font-size: 16px;
    }
    form button {
        font-size: 1rem;
    }
}

/* For very small screens */
@media screen and (max-width: 320px) {
    .container {
        width: 85%;
        padding: 0.3rem;
    }
    .amount input {
        width: 95%;
        font-size: 0.7rem;
        line-height: 1.6rem;
    }
    .msg {
        font-size: 12px;
    }
    form button {
        font-size: 0.8rem;
    }
}


